{{!-- 
    Home ==> should navigate to /.
    Beers ==> should navigate to /beers.
    Random Beer ==> should navigate to /random-beers. --}}

    <nav>
        <a href="/">HOME</a>
        <a href="/beers">BEERS</a>
        <a href="/random-beers">RANDOM BEER</a>
    </nav>
